
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}
.Gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding: 20px;
  
}
.Gallery-title{
  font-size: 25px;
  font-weight: bold;
  color: rgba(83, 85, 204, 0.753);
  text-align: center ;
  margin-bottom: 20px;
  font-family: 'Poppins', cursive;
  position: relative;
 
}
.Gallery-title::after{
  content:'';
  width: 30%;
  height: 5px;
  background-color: rgb(20, 53, 161);
  position: absolute;
  bottom: 0;
  left:0;
  border-radius: 15px;
  transition: ease .2s;

}
.filters {
  text-align: center;
  margin-bottom: 20px;
}

.filters button {
  padding: 8px 14px;
  margin: 5px;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.filters button.active,
.filters button:hover {
  background: rgba(28, 80, 177, 0.541);
}


.img-List{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left;
  border: 2px dashed rgba(28, 80, 177, 0.541);
  padding: 15px 10px;  
  border-radius: 10px;
  gap: 5px;
} 
.img-List img{
  width: 300px;
  height: 250px;
  border-radius: 5px;
}
.img-List img:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: ease .2s;

}

/* Lightbox view */

.lightbox-view{
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  
 
}
.lightbox-view .img-view{
  position: absolute;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px;
  top: 80px;
  left: 120px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.lightbox-view .img-list{
  display: none;
}

.close{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 50px;
  text-align: center;
  border: none;
  background-color: rgba(233, 233, 238, 0.733);
  border-radius: 5px;
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(0, 0, 0);
  top: 20px;  
  right: 50px;
  z-index: 1000;

}
.close:hover{
  background-color: rgba(3, 3, 3, 0.7);
  color: white;
  cursor: pointer;
}
.lightbox-view .prev{
  border: none;
  width: 70px;
  height: 50px;
  font-size: 40px;
  font-weight: 700;
  background-color: rgba(233, 233, 238, 0.733);
  color: rgb(48, 42, 42);
  border-radius: 5px;
  position: absolute;
  top: 350px;
  left:20px ;
  z-index: 999;
  
}
.lightbox-view .next{
  border: none;
  width: 70px;
  height: 50px;
  font-size: 40px;
  font-weight: 700;
  background-color: rgba(233, 233, 238, 0.733);
  color: rgb(48, 42, 42);
  border-radius: 5px;
  position: absolute;
  top: 350px;
  right: 50px;

  
}
.lightbox-view .prev:hover,
.lightbox-view .next:hover{
  background-color: rgba(3, 3, 3, 0.7);
  color: white;
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #1b5e96;
}